/* ul {
    width: 1500px;
    height: 800px;
    display: flex;  
    flex-direction: row; 
    justify-content: space-around;  
}

li {
   align-self: center;
   list-style-type: none;  
}

img {
    width: 300px;
} */

/* 
#counter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 850px;
    font-size: 850px;
    background-color: aqua;
};  */

/* 
#validation-input {
    border: 3px solid #bdbdbd;
  }
  
  #validation-input.valid {
    border-color: #4caf50;
  }
  
  #validation-input.invalid {
    border-color: #f44336;
  } */

 